<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton+SC&display=swap" rel="stylesheet">
<div class="div-principal">
  <nav class="navBar"> <h1 class="titulo">ESCUELA Nº 2031</h1>
    <h3 class="Nom-escuela">MARIA MOLINA DE ALBONICO</h3>
</nav>
  <div class="div-secundario">
   <div class="stock"> <a class="img-stock"> </a> <div class="alim"><a>STOCK</a></div>  </div>
   <div class="stock"><a class="img-recetas">  </a> <a class="rec"> RECETAS </a> </div>
   <div class="stock"><a class="img-nostros">  </a> <a class="inf"> NOSOTROS </a></div>

  </div>
  <footer></footer>

